.abs{
    font-family: 'Kanit', sans-serif;
    padding: 20px 0;
    display: grid;
    place-items: center;
    background-color: rgb(240,240,240);
}

.inline-abs{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-abs{
    text-align: center;
    color: rgb(0, 102, 178);
    font-size: 30px;
}

.info-abs{
    padding: 50px 0;
    width: 1000px;
}

.title-info-abs{
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;
}

.title-info-abs::after{
    content:"";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgb(0, 102, 178);
}


@media (max-width: 1000px) {
    .inline-abs{
        flex-direction: column;
        padding: 0 10px;
    }

    .info-abs{
        width: auto;
        max-width: 1000px;
        padding: 50px 10px;
    }
}

@media (max-width: 510px) {
    img{
        width: 100%;
        height: 50%;
    }
}